@model EventsMedia
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Banner Edit";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="col-lg-12">
        <div class="form-group">
            <label asp-for="EventsId" class="control-label"></label>
            <select asp-for="EventsId" asp-items="@ViewBag.Events" class="form-control">
                <option value="">Select</option>
            </select>
            <span asp-validation-for="EventsId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Current image
        </div>
        <div class="col-lg-10">
            <a href="~/uploaded_files/@Model.MediaPath"> <img src="~/uploaded_files/@Model.MediaPath" style="width:100%" /></a>
        </div>
    </div>
       <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="file"></label>
                <input asp-for="file" class="form-control">
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-check">
                <input asp-for="Published" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(model => model.Published)</label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-check">
                <input asp-for="Deleted" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(model => model.Deleted)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-primary float-right" type="submit" value="Save" />
            <input class="btn btn-primary float-right" type="submit" name="continue" value="Save and continue editing" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            <a class="btn btn-light" asp-action="Index">Back</a>
        </div>
    </div>
</form>