@model ShoppingCartVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-12">
        <h2>Shopping Cart</h2>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-left">@line.ProductId</td>
                        <td class="text-left">@line.Product.Title</td>
                        <td class="text-center">
                            @line.Quantity
                            <a  asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@line.ProductId">Add</a>
                            <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-productId="@line.ProductId">Remove</a>
                        </td>
                        <td class="text-right">@line.Product.Price.ToString("c")</td>
                        <td class="text-right">
                            @((line.Product.Price * line.Quantity).ToString("c"))
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">
                        Total
                    </td>
                    <td class="text-right">
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @if (Model.ShoppingCart.ShoppingCartItems.Count() > 0)
        {
            <a asp-controller="Checkout" asp-action="Create" class="btn btn-primary float-right">Order</a>
        }
    </div>

</div>