@model Products
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Create";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" asp-items="@ViewBag.Products" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="ProductCategories"></label>
                <select asp-for="ProductCategories" asp-items="@ViewBag.SelectedCategories" class="form-control">
                </select>
                <span asp-validation-for="ProductCategories" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="ProductTags"></label>
                <select asp-for="ProductTags" asp-items="@ViewBag.SelectedTags" class="form-control">
                </select>
                <span asp-validation-for="ProductTags" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-check">
                <input asp-for="Published" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(model => model.Published)</label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-check">
                <input asp-for="Deleted" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(model => model.Deleted)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-primary float-right" type="submit" value="Save" />
            <input class="btn btn-primary float-right" type="submit" name="continue" value="Save and continue editing" />
            <a class="btn btn-light" asp-action="Index">Back</a>
        </div>
    </div>
</form>