@model Products
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Edit";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" asp-items="@ViewBag.Products" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="SelectedCategories"></label>
                <select asp-for="SelectedCategories" asp-items="@ViewBag.SelectedCategories" class="form-control">
                </select>
                <span asp-validation-for="SelectedCategories" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="SelectedTags"></label>
                <select asp-for="SelectedTags" asp-items="@ViewBag.SelectedTags" class="form-control">
                </select>
                <span asp-validation-for="SelectedTags" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-check">
                <label>
                    <input asp-for="Published" class="form-check-input" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-check">
                <label>
                    <input asp-for="Deleted" class="form-check-input" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="file" asp-for="Photos" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Media</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductMedia)
                    {
                        <tr>
                            <td><img src="~/uploaded_files/@Html.DisplayFor(modelItem => item.Media.MediaPath)" style="width:100%" /></td>
                            <td>
                                <a asp-controller="Documents" asp-action="Delete" asp-route-id="@item.Media.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a asp-action="AddProductFeatureAttribute" asp-route-productId="@Model.Id" class="btn btn-primary float-right">Add product feature attribute</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Attribute</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductFeatureAttributes)
                    {
                    <tr>
                        <td>@item.FeatureAttribute.Feature.Title</td>
                        <td>@item.FeatureAttribute.Title</td>
                        <td>
                            <a asp-action="DeleteAttribute" asp-route-productId="@item.ProductId" asp-route-featureAttributeId="@item.FeatureAttributeId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-primary float-right" type="submit" value="Save" />
            <input class="btn btn-primary float-right" type="submit" name="continue" value="Save and continue editing" />
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            <a class="btn btn-light" asp-action="Index">Back</a>
        </div>
    </div>
</form>