@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asp Core E-shop CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/bootstrap_datepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/cms_site.css" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Asp Core E-shop</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            @{
                                var cms_url = Html.ActionLink("", "index", "cms").ToString();
                            }
                            <a class='nav-link @Html.IsActive("cms" , "index", Context.Request.Path)' asp-controller="cms" asp-action="index">
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("appointments" , "index", Context.Request.Path)" asp-controller="appointments" asp-action="index">
                                Appontments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("banners" , "index", Context.Request.Path)" asp-controller="banners" asp-action="index">
                                Banners
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("blogcategories" , "index", Context.Request.Path)" asp-controller="blogcategories" asp-action="index">
                                Blog Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("blogposts" , "index", Context.Request.Path)" asp-controller="blogposts" asp-action="index">
                                Blog Posts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("brands" , "index", Context.Request.Path)" asp-controller="brands" asp-action="index">
                                Brands
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("events" , "index", Context.Request.Path)" asp-controller="events" asp-action="index">
                                Events
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("eventlocations" , "index", Context.Request.Path)" asp-controller="eventlocations" asp-action="index">
                                Event Locations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("media" , "index", Context.Request.Path)" asp-controller="media" asp-action="index">
                                Media
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("offers" , "index", Context.Request.Path)" asp-controller="offers" asp-action="index">
                                Offers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("orders" , "index", Context.Request.Path)" asp-controller="orders" asp-action="index">
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("pressreleases" , "index", Context.Request.Path)" asp-controller="pressreleases" asp-action="index">
                                Press Releases
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("products" , "index", Context.Request.Path)" asp-controller="products" asp-action="index">
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("features" , "index", Context.Request.Path)" asp-controller="features" asp-action="index">
                                Product Features
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("featureattributes" , "index", Context.Request.Path)" asp-controller="featureattributes" asp-action="index">
                                Product Attributes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("shopcategories" , "index", Context.Request.Path)" asp-controller="shopcategories" asp-action="index">
                                Shop Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("tags" , "index", Context.Request.Path)" asp-controller="tags" asp-action="index">
                                Tags
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @await Html.PartialAsync("_AlertsPartial")
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>

                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment/moment-with-locales.min.js"></script>
    <script src="~/js/bootstrap_datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/cms_site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
