<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asp Core E-shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Asp Core E-shop</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <partial name="_LoginPartial" />

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="mega-menu" href="#">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @await Component.InvokeAsync("ShoppingCartSummary")
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @if (ViewBag.categories != null)
        {
            <div class="mega-menu-container">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary float-right" name="button" id="close-menu">Close</button>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in ViewBag.categories)
                    {
                        <div class="col-4">
                            <div class="">@item.Title</div>
                            @if (item.Children.Count > 0)
                            {
                                @foreach (var child in item.Children)
                                {

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="">
                                                @child.Title
                                            </div>
                                            @if (child.Children.Count > 0)
                                            {

                                                @foreach (var level3 in child.Children)
                                                {
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div><a asp-controller="shopcategories" asp-action="details" asp-route-id="@level3.Id">@level3.Title</a></div>
                                                        </div>
                                                    </div>
                                                }

                                            }

                                        </div>
                                    </div>
                                }


                            }

                        </div>

                    }

                </div>

            </div>
        }
        <main role="main" class="main">
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_AlertsPartial")

                </div>

            </div>
            @RenderBody()
        </main>
    </div>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Asp Core E-shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.cycle2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".mega-menu-container").hide();
            $("body").on("click", "#mega-menu", function (e) {
                $(".mega-menu-container").fadeIn();
                return false;
            })
            $("body").on("click", "#close-menu", function (e) {
                $(".mega-menu-container").fadeOut();
            })
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
